@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
 @import "tailwindcss";

*{
font-family: "google-sans-flex", sans-serif;
}

.starfield {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -3;
}

.star {
  position: absolute;
  border-radius: 50%;
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.7));
}